[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rafalQA
[access "refs/for/refs/*"]
	read = group user/rafalQA
	push = group user/rafalQA
	label-Code-Review = -2..+2 group user/rafalQA
	label-Verified = -1..+1 group user/rafalQA
	rebase = group user/rafalQA
	removeReviewer = group user/rafalQA
	submit = group user/rafalQA
[access "refs/heads/*"]
	read = group user/rafalQA
	create = group user/rafalQA
	push = +force group user/rafalQA
	pushMerge = group user/rafalQA
[access "refs/tags/*"]
	push = group user/rafalQA
	push = +force group user/rafalQA
