<!doctype html>
<html ng-app="admin">
<head>
    <title>Possessor</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="admin.js"></script>
</head>
<body>
<div ng-controller="Admin">
    <div class="center">
        <button ng-click="get()">Show all users</button>
        <table ng-show="visibleUsers">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="user in users">
                <td><p>{{user.userId}}</p></td>
                <td><p>{{user.username}}</p></td>
                <td><p>{{user.email}}</p></td>
            </tr>
        </table>
    </div>
    <div class="center">
        <div>
            <input ng-model="userId"/><br>
            <button ng-click="delete(userId)">Delete user</button>
        </div>
        <div class="userStatus" ng-show="statusVisible">
            <p>{{resultDelete}}</p>
        </div>
    </div>
</div>
</body>
</html>