button{
 background-color: #4CAF50;
 color:white;
 border:none;
 text-align:center;
 margin:10px 5px;
 padding: 10px;
 width: 400px;
 height: 40px;
 font-size:24px;
}

button:hover {
 background-color: #00ff55;
}

body{
 background:#fff;
}

.userStatus{
 font-size:28px;
 color:red;
}

.center{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.absolute{
  top:200px;
}

table{
  margin-left:auto;
  margin-right:auto;
}